---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    bernd: (
        index_start: 1,
        index_end: 21,
        aspect_ratio: 2,
        duration: 0.85s,
        direction: alternate,
        url_start: '../img/portraits/bernd/bernd_',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);