---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    claudia-futur-b: (
        index_start: 1,
        index_end: 141,
        aspect_ratio: 2,
        duration: 8s,
        direction: alternate,
        url_start: '../img/claudia-futur-b/claudia-futur-b-',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);