---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    jonas-teen: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/jonas-teen/jonas-teen_',
        url_end: '.webp'
    ),
    martha-teen: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/martha-teen/martha-teen_',
        url_end: '.webp'
    ),
    bartosz: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/bartosz/bartosz_',
        url_end: '.webp'
    ),
    magnus: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/magnus/magnus_',
        url_end: '.webp'
    ),
    franziska: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/franziska/franziska_',
        url_end: '.webp'
    ),
    elisabeth: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/elisabeth/elisabeth_',
        url_end: '.webp'
    ),
    mikkel: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/mikkel/mikkel_',
        url_end: '.webp'
    ),
    michael: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/michael/michael_',
        url_end: '.webp'
    ),
    hannah-child: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/hannah-child/hannah-child_',
        url_end: '.webp'
    ),
    hannah: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/hannah/hannah_',
        url_end: '.webp'
    ),
    ulrich: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/ulrich/ulrich_',
        url_end: '.webp'
    ),
    ulrich-teen: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/ulrich-teen/ulrich-teen_',
        url_end: '.webp'
    ),
    katharina-teen: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/katharina-teen/katharina-teen_',
        url_end: '.webp'
    ),
    katharina: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/katharina/katharina_',
        url_end: '.webp'
    ),
    charlotte-teen: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/charlotte-teen/charlotte-teen_',
        url_end: '.webp'
    ),
    charlotte: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/charlotte/charlotte_',
        url_end: '.webp'
    ),
    aleksander-teen: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/aleksander-teen/aleksander-teen_',
        url_end: '.webp'
    ),
    aleksander: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/aleksander/aleksander_',
        url_end: '.webp'
    ),
    regina-teen: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/regina-teen/regina-teen_',
        url_end: '.webp'
    ),
    regina: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/regina/regina_',
        url_end: '.webp'
    ),
    claudia-child: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/claudia-child/claudia-child_',
        url_end: '.webp'
    ),
    claudia: (
        index_start: 1,
        index_end: 28,
        aspect_ratio: 2,
        duration: 1.1s,
        direction: alternate,
        url_start: '../img/portraits/claudia/claudia_',
        url_end: '.webp'
    ),
    claudia-old: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/claudia-old/claudia-old_',
        url_end: '.webp'
    ),
    helge-child: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/helge-child/helge-child_',
        url_end: '.webp'
    ),
    helge: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/helge/helge_',
        url_end: '.webp'
    ),
    helge-old: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/helge-old/helge-old_',
        url_end: '.webp'
    ),
    tannhaus: (
        index_start: 1,
        index_end: 23,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/tannhaus/tannhaus_',
        url_end: '.webp'
    ),
    tannhaus-old: (
        index_start: 1,
        index_end: 22,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/tannhaus-old/tannhaus-old_',
        url_end: '.webp'
    ),
    bernd: (
        index_start: 1,
        index_end: 21,
        aspect_ratio: 2,
        duration: 0.85s,
        direction: alternate,
        url_start: '../img/portraits/bernd/bernd_',
        url_end: '.webp'
    ),
    bernd-old: (
        index_start: 1,
        index_end: 20,
        aspect_ratio: 2,
        duration: 0.85s,
        direction: alternate,
        url_start: '../img/portraits/bernd-old/bernd-old_',
        url_end: '.webp'
    ),
    jana-teen: (
        index_start: 1,
        index_end: 19,
        aspect_ratio: 2,
        duration: 0.76s,
        direction: alternate,
        url_start: '../img/portraits/jana-teen/jana-teen_',
        url_end: '.webp'
    ),
    jana: (
        index_start: 1,
        index_end: 18,
        aspect_ratio: 2,
        duration: 0.76s,
        direction: alternate,
        url_start: '../img/portraits/jana/jana_',
        url_end: '.webp'
    ),
    jana-old: (
        index_start: 1,
        index_end: 17,
        aspect_ratio: 2,
        duration: 0.7s,
        direction: alternate,
        url_start: '../img/portraits/jana-old/jana-old_',
        url_end: '.webp' 
    ),
    egon: (
        index_start: 1,
        index_end: 16,
        aspect_ratio: 2,
        duration: 0.6s,
        direction: alternate,
        url_start: '../img/portraits/egon/egon_',
        url_end: '.webp'
    ),
    egon-old: (
        index_start: 1,
        index_end: 15,
        aspect_ratio: 2,
        duration: 0.6s,
        direction: alternate,
        url_start: '../img/portraits/egon-old/egon-old_',
        url_end: '.webp'
    ),
    tronte-child: (
        index_start: 1,
        index_end: 14,
        aspect_ratio: 2,
        duration: 0.5s,
        direction: alternate,
        url_start: '../img/portraits/tronte-child/tronte-child_',
        url_end: '.webp'
    ),
    tronte: (
        index_start: 1,
        index_end: 13,
        aspect_ratio: 2,
        duration: 0.5s,
        direction: alternate,
        url_start: '../img/portraits/tronte/tronte_',
        url_end: '.webp'
    ),
    tronte-old: (
        index_start: 1,
        index_end: 12,
        aspect_ratio: 2,
        duration: 0.5s,
        direction: alternate,
        url_start: '../img/portraits/tronte-old/tronte-old_',
        url_end: '.webp'
    ),
    ines-teen: (
        index_start: 1,
        index_end: 11,
        aspect_ratio: 2,
        duration: 0.45s,
        direction: alternate,
        url_start: '../img/portraits/ines-teen/ines-teen_',
        url_end: '.webp'
    ),
    ines: (
        index_start: 1,
        index_end: 10,
        aspect_ratio: 2,
        duration: 0.4s,
        direction: alternate,
        url_start: '../img/portraits/ines/ines_',
        url_end: '.webp'
    ),
    ines-old: (
        index_start: 1,
        index_end: 9,
        aspect_ratio: 2,
        duration: 0.4s,
        direction: alternate,
        url_start: '../img/portraits/ines-old/ines-old_',
        url_end: '.webp'
    ),
    peter: (
        index_start: 1,
        index_end: 8,
        aspect_ratio: 2,
        duration: 0.33s,
        direction: alternate,
        url_start: '../img/portraits/peter/peter_',
        url_end: '.webp'
    ),
    doris: (
        index_start: 1,
        index_end: 7,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/doris/doris_',
        url_end: '.webp'
    ),
    agnes: (
        index_start: 1,
        index_end: 6,
        aspect_ratio: 2,
        duration: 0.8s,
        direction: alternate,
        url_start: '../img/portraits/agnes/agnes_',
        url_end: '.webp'
    ),
    greta: (
        index_start: 1,
        index_end: 5,
        aspect_ratio: 2,
        duration: 0.2s,
        direction: alternate,
        url_start: '../img/portraits/greta/greta_',
        url_end: '.webp'
    ),
    jonas: (
        index_start: 1,
        index_end: 5,
        aspect_ratio: 2,
        duration: 0.4s,
        direction: alternate,
        url_start: '../img/portraits/jonas/jonas_',
        url_end: '.webp'
    ),
    noah: (
        index_start: 1,
        index_end: 67,
        aspect_ratio: 2,
        duration: 3s,
        direction: alternate,
        url_start: '../img/portraits/noah/noah_',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);