---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    doris: (
        index_start: 1,
        index_end: 7,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/doris/doris_',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);