---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    jonas: (
        index_start: 1,
        index_end: 5,
        aspect_ratio: 2,
        duration: 0.4s,
        direction: alternate,
        url_start: '../img/portraits/jonas/jonas_',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);