---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    martha-teen: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/martha-teen/martha-teen_',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);