---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    noah: (
        index_start: 1,
        index_end: 67,
        aspect_ratio: 2,
        duration: 3s,
        direction: alternate,
        url_start: '../img/portraits/noah/noah_',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);