---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    st-christophe-c: (
        index_start: 1,
        index_end: 69,
        aspect_ratio: 2,
        duration: 3s,
        direction: alternate,
        url_start: '../img/st-christophe-c/st-christophe-c-',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);