---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    tronte-old: (
        index_start: 1,
        index_end: 12,
        aspect_ratio: 2,
        duration: 0.5s,
        direction: alternate,
        url_start: '../img/portraits/tronte-old/tronte-old_',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);