---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    agnes: (
        index_start: 1,
        index_end: 6,
        aspect_ratio: 2,
        duration: 0.8s,
        direction: alternate,
        url_start: '../img/portraits/agnes/agnes_',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);