---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    claudia-old: (
        index_start: 1,
        index_end: 24,
        aspect_ratio: 2,
        duration: 1s,
        direction: alternate,
        url_start: '../img/portraits/claudia-old/claudia-old_',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);