---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    ines-old: (
        index_start: 1,
        index_end: 9,
        aspect_ratio: 2,
        duration: 0.4s,
        direction: alternate,
        url_start: '../img/portraits/ines-old/ines-old_',
        url_end: '.webp'
    ),
);
@include css-frames($video_frames);