---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    matter-j: (
        index_start: 1,
        index_end: 68,
        aspect_ratio: 2,
        duration: 9s,
        direction: alternate,
        url_start: '../img/matter-j/matter-j-',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);