---
---
@import 'third-parties/css-frames';
// PURE CSS VIDEO FRAMES
$video_frames: (
    particles-b: (
        index_start: 1,
        index_end: 101,
        aspect_ratio: 2,
        duration: 5s,
        direction: alternate,
        url_start: '../img/particles-b/particles-b-',
        url_end: '.webp'
    )
);
@include css-frames($video_frames);